html {
    font-family:sans-serif;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%
}
body {
    font: 14px/1.5 "Segoe UI","Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif;
    color: #2a333c;
}
html,body{width: 100%;}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary { display: block; box-sizing: border-box;}
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }
a { display: block; background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; }
img { border: 0;vertical-align: middle;width: 100% ; height: 100% }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { outline: none; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; }
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Grande",Helvetica,Arial,"Microsoft YaHei",FreeSans,Arimo,"Droid Sans","wenquanyi micro hei","Hiragino Sans GB","Hiragino Sans GB W3",Roboto,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    text-shadow: rgba(0,0,0,.15) 0 0 1px;
}
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }/* 设置输入框默认字体颜色 */
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }
/*css reset*/
/* public css */
.warp{ width: 100%;  box-sizing: border-box; }
.fl{ float: left;}
.fr{ float: right;}
.clear:after{content:''; display:block; clear:both;}
.clear{zoom:1;}

/*nav*/
.met-nav{
    border-radius: 0;
    min-height: 100px;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 6px rgba(0,0,0,.1);
   border: 0;
    background-color: rgba(0,0,0,.6);
}
.fixed-nav{
    position: fixed;
    width:100%;
    top:-100px;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
    background-color:#fff;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,.1);
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
}
.fixed-nav-appear{top:0;}
.hamburger {
    font-size: 20px;
    margin-top: 33px;
    vertical-align: middle;
}
.navbar-logo {
    margin: 0;
    padding: 0;
    margin-left: 0 !important;
    display: block;
    height: 100px;
}
.navbar-logo img.logo{
     display: block;
}
.navbar-logo img.logos{
    display: none;
}
.vertical-align-middle {
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
    margin-top: 25px;

}
.ss{
    margin-top: 34px
}
.met-nav-logo {
    height: 100px;
    padding-top: 0;
    margin-left: 10px;
    text-align: center;
}
.btn-success{
    background-color: #d80808;
    border: none;
}
.btn-success:hover{
    background-color: #000;
}
.btn-squared{
    border-radius: 0;
}
.nav>li>a {
    padding-top: 0;
    padding-bottom: 0;
    height: 100px;
    line-height: 100px;
}
.met-nav .navbar-nav > li > a {
    color: #fff;
}
.fixed-nav .navbar-nav > li > a{
    color: #222!important;
}
/*二级导航*/
.nav li.dropdown ul{
    display:none;
}
.nav li.dropdown ul li span{
    float: right;
    font-size: 14px;
}
.nav li.dropdown:hover ul,.nav li.dropdown:active ul{
    z-index: 1200;
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    position:absolute;
    top:101px;
    right: 0;
    background: #000;
    background: rgba(0,0,0,.6);
    border: 0;
}
.fixed-nav .nav li.dropdown:hover ul,.fixed-nav .nav li.dropdown:active ul{
    background: #fff;
    color: #000;
}
.nav li.dropdown:hover ul li{
    display:block;
    margin: 2px 0;
    padding: 12px 15px;
}
.nav li.dropdown:hover ul li a{
    display: block;
    color: #fff;
    text-decoration: none
}
.fixed-nav .nav li.dropdown:hover ul li a{
    color: #000;
}
.nav li.dropdown:hover ul li:hover{
    background: #000;
}
.fixed-nav .nav li.dropdown:hover ul li:hover{
    background-color: rgba(243,247,249,.6);
    color: #526069;
}
/*三级导航*/
.nav li.dropdown:hover ul li ul {
    display:none;
}
.nav li.dropdown:hover ul li:hover ul{
    display: block;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    position:absolute;
    top:4px;
    left: 161px;
    background: #000;
    background: rgba(0,0,0,.6);
    border: 0;
}
.fixed-nav .nav li.dropdown:hover ul li:hover ul{
    background: #fff;
}
.nav li.dropdown:hover ul li:nth-child(2):hover ul{
    top:50px;
}
.nav li.dropdown:hover ul li:nth-child(3):hover ul{
     top:95px;
 }
.nav li.dropdown:hover ul li:nth-child(4):hover ul{
    top:150px;
}
.nav li.dropdown:hover ul li:hover ul li {
    display:block;
    margin: 2px 0;
    padding: 12px 15px;
}
.nav li.dropdown:hover ul li:hover ul li a {
    display: block;
    color: #fff;
    text-decoration: none
}
.nav ul li:hover ul li:hover ul li a:hover {
    background: #000;
}
.fixed-nav .nav li.dropdown:hover ul li:hover ul li a {
    color: #000;
}
.fixed-nav .nav ul li:hover ul li:hover ul li a:hover{
    background-color: rgba(243,247,249,.6);
    color: #526069;
}
.caret{
    border-top: 4px solid;
    -webkit-transition: .25s;
    -o-transition: .25s;
    transition: .25s;
    -webkit-transform: scale(1.001);
    -ms-transform: scale(1.001);
    -o-transform: scale(1.001);
    transform: scale(1.001);
}
.met-nav .navbar-nav > li > a:hover{
    background-color: #000;
    color: #fff;
}
.fixed-nav .navbar-nav > li > a:hover{
    background-color: rgba(243,247,249,.6);
    color: #526069;
}
.met-nav .navbar-nav > li.open{
    background-color: #000;
}
.swiper-container {
    width: 100%;
}
.swiper-slide{
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.columns{
    padding-top: 5%;
    padding-bottom: 4%;
}
.columns a{
    text-decoration: none;
    color: #37474f;
}
.columns h4 {
    display: block;
    padding: 12px 0 10px 0;
}
.columns h4:hover{
    color: #d80808;
}
.columns span{
    font-size: 34px;
    color: #37474f;
}
.columns p {
    line-height: 2;
    color: #555;
    text-shadow: rgba(0,0,0,.15) 0 0 1px
}
.main-box{
    background: #f2f5f8;
    position: relative;
}
.main-img {
     width: 50%;
    float: left;
     overflow: hidden;
 }
.main-img span{
    width: 100%;
    height: 100%;
    display: block;
    background: center no-repeat;
    background-size: cover;
    -webkit-animation: SlickIn cubic-bezier(1,0,.5,.5) 1s;
    animation: SlickIn cubic-bezier(1,0,.5,.5) 1s;
}
.main-cut {
    float: right;
    width: 50%;
    color: #222;
    padding: 5%;
    line-height: 2;
    background: #f2f5f8;
}
h2.h2 {
    display: block;
    margin: 0 0 30px 0;
}
.main-cut p{
    margin-bottom: 14px;
    text-shadow: rgba(0,0,0,.15) 0 0 1px
}

.main-button {
    padding: 7px 28px;
    border: 1px solid #222;
    color: #222;
    margin-top: 19px;
    display: inline-block;
    -webkit-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}
.main-button:focus,.main-button:hover {
    background-color: #d80808;
    color: #fff;
    text-decoration: none;
}
.team-box{
    position: relative;
}
.team-cut{
    width: 50%;
    color: #222;
    padding: 5%;
    line-height: 2;
    float: left;
}
.team-box .team-cut p{
    margin-bottom: 14px;
    text-shadow: rgba(0,0,0,.15) 0 0 1px
}
.team-cut p.fontz{
    font-size: 17px;
    color: #888;
}
.team-img{
    width: 50%;
    float: right;
}
.team-img img{
    height: 100%;
    background: center no-repeat;
    background-size: cover;
}
.cases-box{
    background: #f2f4f8;
    overflow: hidden;
    padding-bottom: 5%;
}
.cases-title {
    text-align: center;
    margin-top: 5%;
}
.cases-title span {
    border: 1px solid #222;
    height: 0;
    line-height: 0;
    width: 40px;
    display: block;
    margin: 40px auto;
}
#box3 .swiper-slide{
    overflow:hidden;
}
#box3 div p{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #d80808;
    background: rgba(216,8,8,.75);
    z-index: 9;
    opacity: 0;
    -webkit-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;
}
#box3 div p span {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 16px;
    position: absolute;
    width: 90%;
    left: 5%;
    bottom: 52%;
}
#box3 .swiper-slide:hover p{
    opacity: 1;
}
#box3 div p strong{
    display: block;
    color: #fff;
    text-align: center;
    position: absolute;
    font-size: 14px;
    width: 90%;
    left: 5%;
    top: 52%;
    opacity: .8;
}
#box3 .swiper-slide img{  display: block;
    -moz-transition:.5s ease-in;
    -webkit-transition:.5s ease-in;
    -o-transition:.5s ease-in;
    -ms-transition:.5s ease-in;
    transition:.5s ease-in;
}
#box3 .swiper-slide:hover img{ transform:scale(1.1,1.1);-moz-transform:scale(1.1,1.1);-webkit-transform:scale(1.1,1.1);-o-transform:scale(1.1,1.1)}
.swiper-container .swiper-pagination-bullet-active{
    background: #fff;opacity: 0.5;
}
.swiper-container .swiper-button-next,.swiper-container .swiper-button-prev{
    width: 40px;
    height: 60px;
    right: 0px;
    background-color: #666;
    opacity: 0.3;
    -webkit-transition: .5s;
    -ms-transition: .5s;
    transition: .5s;}
.swiper-container .swiper-button-next:hover,.swiper-container .swiper-button-prev:hover{
    background-color: #d80808;  opacity: 1;  }
.swiper-container .swiper-button-prev{
    left: 0px;
}

.video-content {
    width: 100%;
    position: relative;
}
.video-content video {
    width: 100%;
    display: block;
}
.soft-box{
    background: #fff;
    overflow: hidden;
    padding-bottom: 5%;
}
.soft-ul{
    line-height: 2;

}
.soft-ul li img{
    padding: 15px 0;
}
.soft-ul li span{
    display: block;
    font-size: 15px;
    color: #222;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.soft-ul li b{
    font-weight: normal;
    display: block;
    color: #7a7a7a;
    padding: 0 0 15px 0;
}
.soft-ul li p{
    display: block;
    color: #7a7a7a;
    max-height: 112px;
    overflow: hidden;
}
.soft-ul li strong{
    display: block;
    color: #7a7a7a;
    margin-top: 20px;
    font-size: 12px;
    font-weight: normal;
}
.soft-ul li strong a{
    display: inline;
    color: #7a7a7a;
    font-size: 12px;
    padding-left: 5px;
}
.footer {
    background: #3d3f3e;
    overflow: hidden;
    padding: 70px 0 10px 0;
    color: #a2a2a2;
    line-height: 2;
}
.footer p span:nth-child(2){
    margin-left: 15px;
    color: #cacaca;
}
.footer h3{
    font-size: 18px;
    color: #cacaca;
    margin-bottom: 20px;
}
.footer dl dt{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
}
.footer dl dd{
    margin-bottom: 5px;
}
.footer dl dd a{
    color: #a2a2a2;
    text-decoration: none;
}
.footer dl dd a:hover{
    color: #cacaca;
}
.footer dl{
    margin-bottom: 20px;
}
footer{
    background: #2c2e2e;
    line-height: 2;
    color: #888;
    padding: 20px 0;
}
footer .link a{
    color: #aaa;
    display: inline-block;
    text-decoration: none;
    margin: 0 5px;
}
footer .link a:hover{
    color: #d80808
}
.top{
    width: 30px;
    height: 30px;
    position: fixed;
    right: 10px;
    bottom: 10px;
    z-index: 999;
    background-color: red;
    color: #fff;
}
.top:hover{
    background-color:#d80808;
    text-decoration: none;
    color: #fff;
}
.top span{
    display: block;
    margin-left: 8px;
    margin-top: 8px;
}
.top span.glyphicon{
    font-weight: normal;
    font-size: 1em;
}

/*动画*/
.animation-top{
    position: relative;
    animation: animation-top 1s;
    -webkit-animation:animation-top 1s;
}
@keyframes  animation-top
{
    0%   {left:0px; top:100px;opacity: 0}
    100% {left:0px; top:0px;opacity: 1}
}

@-webkit-keyframes animation-top /* Safari 与 Chrome */
{
    0% {
        left: 0px;
        top: 200px;
    }
    100% {
        left: 0px;
        top: -0px
    }
}
.animation-bottom{
    position: relative;
    animation: animation-bottom 1s;
    -webkit-animation:animation-bottom 1s;
}
@keyframes  animation-bottom{
    0%   {left:0px; top:-100px; opacity: 0}
    100% {left:0px; top:0px;opacity: 1}
}
@media screen and (max-width: 960px)  {
    .team-img{
        width: 100%;
    }
    .team-cut{
        width: 100%;
    }
    .main-cut{
        width: 100%;
    }
    .main-img{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .nav>li>a{
        position: relative;
        display: block;
        padding: 10px 15px;
        line-height: normal;
        height: auto;
    }
    .met-nav-logo{
        height: auto;

    }
    .ss{
        margin-top: 10px;
    }
    .nav li.dropdown:hover ul,.nav li.dropdown:active ul{
        display: none;
    }
}